@import url('./fonts.css');

:root {
    --primary-color: #ff8b38;
}

* {
    margin: 0;
    font-weight: 400;
}

body {
    color: #86878b;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h2 {
    margin-bottom: 24px;
    color: #212121;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
}

h2:after {
    content: '';
    display: block;
    width: 64px;
    height: 2px;
    background-color: var(--primary-color);
    margin: 22px auto 0;
}

h3 {
    color: #333333;
    font-size: 20px;
    font-weight: 700;
}

h2._left {
    text-align: left;
}

h2._left:after {
    margin: 0;
}

h2._white {
    color: #ffffff;
    margin-bottom: 32px;
}

h2._white:after {
    background-color: #ffffff;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 110px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 0 -20px;
}

.cell {
    padding: 0 20px;
}

.benefit {
    text-align: center;
}

.benefit__p {
    margin-bottom: 80px;
}

.download__p {
    margin-bottom: 31px;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Raleway Light', sans-serif;
}

.benefit__image-wrap {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 68px;
    margin-bottom: 22px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
}

.benefit__image {
    color: var(--primary-color);
    font-size: 32px;
}

.benefit__h3 {
    margin-bottom: 22px;
}

.container_1 {
    width: 100%;
    height: 320px;
    -webkit-background-size: 100%;
    background-image: url(../images/u25_state0.jpg);
    background-size: cover;
}

.container_color {
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 320px;
}
/* Поставил внутренний отступ 66px, чтобы совпало при наложении. В исходнике 75px */
.download {
    max-width: 1110px;
    margin: 0 auto;
    padding: 66px 0;
}

.download_link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 42px;
    margin-bottom: 22px;
    border: 2px solid #ffffff;
}