@import url('./fonts.css');

:root {
    --primary-color: #ff8b38;
}

* {
    margin: 0;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #86878b;
}

h2 {
    margin-bottom: 24px;
    color: #212121;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
}

h2:after {
    content: '';
    display: block;
    width: 64px;
    height: 2px;
    background-color: var(--primary-color);
    margin: 22px auto 0;
}

h3 {
    color: #333333;
    font-size: 20px;
    font-weight: 700;
}

h2._left {
    text-align: left;
}

h2._left:after {
    margin: 0;
}

h2.download__head {
    color: #ffffff;
    margin-bottom: 32px;
}

h2.download__head:after {
    background-color: #ffffff;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 0 -20px;
}

.cell {
    padding: 0 20px;
}

.benefit {
    text-align: center;
    padding: 110px 0 105px 0;
}

._indent {
    margin-bottom: 80px;
    text-align: center;
}

.download__p {
    margin-bottom: 31px;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.benefit__image-wrap {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 68px;
    margin-bottom: 22px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
}

.benefit__image {
    color: var(--primary-color);
    font-size: 32px;
}

.benefit__h3 {
    margin-bottom: 22px;
}

.download_block {
    width: 100%;
    background-image: url(../images/u25_state0.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.download_block_color {
    background-color: rgba(0,0,0,0.6);
    width: 100%;
}

.download_container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 64px 0 62px 0;
    text-align: center;
}

.download_link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 42px;
    border: 2px solid #ffffff;
}

/* PRICING OPTIONS */

.pricing_color {
    background-color: #f5f5f5;
}

.pricing {
    padding: 110px 0 79px;
}

.pricing_base-name {
    border-bottom: 1px solid #f5f5f5;
    font-weight: bold;
    padding: 16px 0;
    font-size: 20px;
    color: #eeeeee;
}

.pricing_base-cost {
    border-bottom: 1px solid #f5f5f5;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 95px;
    color: #eeeeee;
    line-height: 50px;
    padding: 28px 0 0 0;
}

.dollar {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 35px;
}

.pricing_base-conditions {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    padding: 15px 0;
}

.pricing_base-dop {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #ff8b38;
    padding: 11px 0;
}

.wrap {
    margin: 0;
    padding: 0;
    max-width: 1110px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.col_1, .col_2, .col_3 {
    width: 30.7%;
    display: inline-block;
    /* vertical-align: top; */
    background-color: #333333;
    vertical-align: baseline;
    text-align: center;
}

.list {
    display: block;
    list-style-type: none;
    text-align: center;
    /* line-height: 3em; */
    background-color: #FFFFFF;
    text-transform: uppercase;
    padding: 0;
}

ul.list li {
    border-bottom: 1px solid #f5f5f5;
    padding: 11px 0;
}

ul.list li:last-child {
    border: none;
}

/* PRICING OPTIONS END */

/* Comment */

.comment {
    padding: 110px 0 100px;
}

blockquote {
    width: 26%;
    border-radius: 2px;
    display: inline-block;
    margin-right: 120px;
    overflow: hidden;
}
.comment_wrap {
    max-width: 1110px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}
blockquote p {
    font-size: 14px;
    color: #86878b;
    background-color: #f5f5f5;
    font-style: italic;
    padding: 25px 12px 24px 12px;
    line-height: 17px;
    position: relative;
    margin-bottom: 23px;
}

blockquote p:after {
    content: '';
    position: absolute;
    display: block;
    border: 29px solid transparent;
    border-top: 41px solid #f5f5f5;
}

blockquote:last-child {
    margin-right: 0;
}

.info_client {
    display: block;
    margin-left: 87px;
    margin-top: 40px;
}

.info_client h3 {
    font-size: 20px;
    font-weight: 700;
}

.info_client span {
    font-size: 14px;
    font-weight: 400;
}

/* Comment END */

/* Social Media */

.social_media {
    padding: 18px 0;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.box-shadow_social_media {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.38);
    position: relative;
}

.social_info {
    float: left;
    padding: 0;
}

.social_icon {
    list-style-type: none;
    padding: 11px 0;
}

_lineinfo {
    line-height: 22px;
}

ul.social_icon li {
    display: inline;
    margin-right: 51px;
}

ul.social_icon li:nth-child(7) {
    margin-right: 0;
}

.icon_group {
    width: 1em;
    height: 1em;
    fill: #cccccc;
    font-size: 45px;
    color: #cccccc;
}

.icon_group:hover  use {
    fill: var(--primary-color);
}

._hidden {
    display: none;
}

/* Social Media END */

/* Info */
.tabsInfo_color {
    background-color: #f5f5f5;
}

.tabsInfo {
    padding: 145px 0 115px 0;
    overflow: hidden;
}

.tabsInfo_button {
    float: left;
    flex-direction: column;
    display: flex;
    margin-right: 100px;

}
.tab {
    font-size: 15px;
    font-weight: 700;
    min-width: 110px;
    min-height: 110px;
    cursor: pointer;
    display: block;
    color: #FFFFFF;
    background-color: #333333;
    text-transform: uppercase;
    border-radius: 2px;
    margin: 1px 0;
}

.tabsInfo_text {
    display: block !important;
    padding: 10px 0 20px;
    width: 480px;
    float: left;
    margin-right: 100px;
}
.tabsInfo_text h3 {
    margin-bottom: 55px;
}
.tabsInfo_text button {
    margin-top: 50px;
}

.tabsInfo_button button:focus {
    vertical-align: middle;
    background-color: var(--primary-color);
    transition: all 500ms linear;
}

/* Info END */

/* Contact Us */

.contact {
    padding: 110px 0 80px 0;
    margin: 0 auto;
    text-align: center;
}

.contact_cell {
    width: 100%;
}

.contact_field {
    width: 100%;
    line-height: 19px;
    font-size: 14px;
    box-sizing: border-box;
}

.contact_cell {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text-field {
    position: relative;
}

.text-field__label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 200ms ease-in-out ;
}

.text-field__input:focus + .text-field__label, .text-field__input:not(:placeholder-shown) + .text-field__label {
    top: 0;
    transform: translateY(-75%);
}

textarea {
    line-height: 1.4;
    resize: none;
}

input, textarea {
    padding: 10px 12px;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #d6d6d6;
}

button {
    border: none;
    background: none;
    outline: none;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 135px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 1px 3px #d6d6d6;
    height: 40px;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: #ffffff;
    font-weight: 500;
    margin-top: 42px;
}

/* Contact Us END */

/* Footer */

.footer_size {
    padding: 40px 0 15px 0;
}
.footer_icon {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin-bottom: 5px;
}

ul.footer_icon li {
    display: inline;
    margin: 0 16px;
}

.footer_group {
    width: 1em;
    height: 1em;
    fill: #cccccc;
    font-size: 23px;
    color: #cccccc;
}
footer {
    background-color: #000000;
    text-align: center;
}

.footer_size ul{
    justify-content: center;
}

.indent_icon {
    font-size: 12px;
}

.footer_group:hover  use {
    fill: var(--primary-color);
}

/* Footer END */

/* Header END */
.header {
    background-color: #000000;
    height: 70px;
    padding: 0 20px;
}
.logo-small {
    width: 79px;
    height: 27px;
    display: inline-flex;
    align-items: center;
    padding: 21px 0;
    float: left;
}

.menu {
    padding: 15px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    float: right;
}

div.menu a{
    margin: 0px 10px;
    padding: 10px 10px;
    font-size: 14px;
    color: #b0b0b0;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.menu a:last-child {
    margin-right: 0;
}
.mainBanner-shadow {
    background-color: rgba(0,0,0,0.52);
}
.mainBanner {
    background-image: url(../images/img_banner.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main {
    padding: 110px 0 140px;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo-bg {
    width: 175px;
    height: 60px;
    margin-bottom: 33px;
    float: none;
}

.blockInfo__text {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    text-align: left;
}

h2.blockInfo__text:after {
    content: '';
    display: block;
    width: 64px;
    height: 2px;
    background-color: #FFFFFF;
    margin: 40px 0 40px 0;
}

.blockInfo {
    width: 47%;
    float: left;
    padding: 0;
}

.blockInfo__p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    line-height: 23px;
    margin-bottom: 45px;
}

.button._outline {
    border-radius: 0;
    border-color: #FFFFFF;
    background-color: transparent;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.button._outline:hover {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    color: #000000;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.button:hover {
    box-shadow: 2px 5px 20px black;
}

.formRegistr {
    border-radius: 3px;
    width: 360px;
    height: 362px;
    min-width: 360px;
    background-color: #FFFFFF;
    float: right;
}

.formRegistr h3 {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    background-color: #f5f5f5;
    padding: 15px 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.head_color {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 20px;
}

.formRegistr__row {
    justify-content: center;
    padding: 19px 38px;
    flex-direction: column;
}
.formRegistr__field {
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
}

.formRegistr input[type=submit] {
    width: 100%;
    background-color: var(--primary-color);
    border: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    padding: 19px 0;
    cursor: pointer;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #333333;
    color: #FFFFFF;
}
/* Header END */

@media (max-width: 1024px) {
    .tabsInfo img {
        display: none;
    }
    .benefit {
        padding: 110px 0 80px 0;
    }
    .row {
        padding: 0 20px;
        flex-direction: column;
    }
    .cell {
        margin-bottom: 40px;
        padding: 0 100px;
    }

    .wrap {
        padding: 0 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .col_1, .col_2, .col_3 {
        width: 55%;
        margin-bottom: 40px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .comment {
        padding: 110px 0 50px;
    }
    .comment_wrap {
        padding: 0 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    blockquote {
        width: 70%;
        margin: 0 0 40px;
    }
    form .row {
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .contact_cell {
        width: 70%;
        margin-bottom: 30px;
    }
    .button {
        margin-top: 20px;
    }
}

@media (max-width: 1115px) {
    .tabsInfo img {
        display: none;
    }
    .tabsInfo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .social_media {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    ._lineinfo {
        display: none;
    }
    .icon_group {
        font-size: 38px;
    }
    .blockInfo {
        margin-right: 100px;
    }
    .main {
        padding: 110px 20px 140px;
    }
}

@media (max-width: 760px) {
    .main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 110px 20px 110px;
    }
    .blockInfo {
        margin-right: 0;
        width: 75%;
        margin-bottom: 50px;
    }
    .blockInfo__text {
        text-align: center;
    }
    h2.blockInfo__text:after {
        margin-left: auto;
        margin-right: auto;
    }
    .tabsInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 50px 0 50px;
    }
    .tabsInfo_button {
        margin-right: 0;
        width: 70%;
        margin-bottom: 20px;
    }
    .tabsInfo_text h3 {
        margin-bottom: 30px;
    }
    .tab {
        min-width: 135px;
        min-height: 40px;
    }
    .tabsInfo_text {
        margin-right: 0;
        justify-content: center;
        align-items: center;
    }
    .tabsInfo img {
        display: none;
    }
    .benefit, .pricing, .comment, .contact {
        padding: 50px 0 50px;
    }
    ._indent {
        margin-bottom: 40px;
    }
    blockquote {
        width: 70%;
        margin: 0 0 40px;
    }
    form .row {
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .contact_cell {
        width: 70%;
        margin-bottom: 30px;
    }
    .button {
        margin-top: 20px;
    }
}

/* Top and Bottom borders go out */
div.topBotomBordersOut a:before, div.topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(10px);
}

div.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before, div.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}

/* Border X get width  */
div.borderXwidth a:before, div.borderXwidth a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: var(--primary-color);
    transition: all 0.3s;
}

div.borderXwidth a:before
{
    left: 0px;
    top: 0px;
}

div.borderXwidth a:after
{
    right: 0px;
    bottom: 0px;
}

div.borderXwidth a:hover:before, div.borderXwidth a:hover:after
{
    opacity: 1;
    width: 100%;
}